-# TODO - NO LONGER LINKED TO.  cannibalize and burn the <body>
%h1{:class=>'title'}
  Project Status

%table.work
  %tr
    %td{:colspan=>4}
      %h2 Current: #{@current_stories.count} stories, #{@current_points} points
  %tr
    %th Status
    -#%th Owner
    %th Points
    %th 
  - for story in @current_stories.sort{|a,b| Story.status_sort(a,b)}
    %tr
      %td #{story.friendly_state} 
      -#%td #{story.owned_by}
      %td #{story.estimate} 
      %td 
        %span{:title=>"last updated: #{story.updated_at.strftime("%b %d")}"}
        #{friendly_title(story)}
  - if @next_up_stories.count > 0
    %tr
      %td{:colspan=>4}
        %h2 Coming Soon: #{@next_up_stories.count} stories, #{@next_points} points
    %tr
      %th Complete
      -#%th Owner
      %th Points
      %th 
    - for story in @next_up_stories
      %tr
        %td #{story.estimated_date.strftime("%b %d")}
        -#%td #{story.owned_by}
        %td #{story.estimate}
        %td 
          %span{:title=>"last updated: #{story.updated_at.strftime("%b %d")}"}
          #{friendly_title(story)}
